wireshark/wimaxasncp/dictionary.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: dictionary.dtd 34919 2010-11-17 03:16:30Z morriss $ -->

<!ELEMENT dictionary (tlv+)>

<!ELEMENT tlv (enum*)>
<!ATTLIST tlv
    name    CDATA #REQUIRED
    type    CDATA #REQUIRED
    decoder CDATA #IMPLIED
    since CDATA #IMPLIED
>

<!ELEMENT enum EMPTY>
<!ATTLIST enum
    name CDATA #REQUIRED
    code CDATA #REQUIRED
>
