wireshark/dtds/xcap-caps.dtd

<? wireshark:protocol
   proto_name="xcap-caps"
   description="XML Configuration Access Protocol Server Capabilities"
   hierarchy="yes" ?>

<!--
$Id: xcap-caps.dtd 18767 2006-07-19 19:00:36Z etxrab $
-->

<!ELEMENT xcap-caps ((auid?)*, extension?, (namespace?)*) >

<!ELEMENT auid      (#PCDATA)>
<!ELEMENT extension (#PCDATA)>
<!ELEMENT namespace (#PCDATA)>

